<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="WearNotifications.WearNotifications">
	<uses-sdk />
	<application android:label="WearNotifications" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Holo.Light">
	</application>
</manifest>